{% extends "base.html" %}

{% block header %}
	{{ include('partials/header.html') }}
{% endblock %}

{% block main %}
<h2>Datos del turno #{{ id_turno }}</h2>
     
     <ul class = "resumen">
        <li>Paciente: {{ nombre }}</li>
        <li>Correo electrónico: {{ email }} </li>
        <li>Teléfono: {{ telefono }}</li>
        <li>Edad: {{ edad }}</li>
        <li>Talla de calzado: {{ talla }}</li>
        <li>Altura: {{ altura }} </li>
        <li>Fecha de nacimiento: {{ fecha_nacimiento }}</li>
        <li>Color de pelo: {{ color_pelo }} </li>
        <li>Fecha de turno: {{ fecha_turno }}</li>
        <li>Hora de turno: {{ hora_turno }}</li>
        <li>Diagnóstico adjuntado:</li>
        <li><img src= "{{ diagnostico }}" alt="Imagen diagnostico"></li>  
     </ul>
{% endblock %}